COINBASE_API_KEY="organizations/your-org-id/apiKeys/your-key-id"
COINBASE_API_SECRET="-----BEGIN EC PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END EC PRIVATE KEY-----\n"

BOT_PRODUCTS="BTC-USD,ETH-USD,SOL-USD"
BOT_GRANULARITY="ONE_HOUR"
BOT_LOOKBACK_CANDLES="260"
BOT_QUOTE_CURRENCY="USD"

BOT_PER_TRADE_QUOTE_FRACTION="0.08"
BOT_MIN_QUOTE_ORDER_SIZE="25"
BOT_MIN_CASH_RESERVE="150"
BOT_MAX_OPEN_POSITIONS="1"
BOT_MAX_DAILY_LOSS_QUOTE="150"
BOT_PREVIEW_LIVE_ORDERS="true"
COINBASE_ALLOW_LIVE_TRADING="false"

STRATEGY_BOLLINGER_WINDOW="20"
STRATEGY_BOLLINGER_STDDEV="1.8"
STRATEGY_RSI_WINDOW="13"
STRATEGY_RSI_ENTRY="32"
STRATEGY_EMA_FAST="50"
STRATEGY_EMA_SLOW="200"
STRATEGY_ATR_WINDOW="14"
STRATEGY_ATR_STOP_MULTIPLE="1.0"
STRATEGY_ENTRY_BUFFER="0.003"
STRATEGY_MAX_CHASE_ATR="0.35"
STRATEGY_MIN_REWARD_RISK="1.25"
STRATEGY_COOLDOWN_CANDLES="4"
STRATEGY_MAX_HOLD_CANDLES="48"
STRATEGY_MIN_ATR_PCT="0.004"
STRATEGY_MAX_ATR_PCT="0.08"
STRATEGY_MIN_VOLUME_RATIO="0.7"

